* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img1 {
  width: 35px;
}
.icons {
  position: fixed;
  margin-top: 100px;
  z-index: 10;
}
.unstyled-list {
  list-style: none;
}
.ll {
  color: black;
  font-size: 35px;
  margin-bottom: 15px;
}
.btn1 {
  margin-top: 10px;
}
.ll:hover {
  background: #414141;
  border-radius: 55%;
}
.menu {
  padding-top: 25px;
  background-color: black;
  color: white;
  padding-bottom: 15px;
}
.btn2 {
  margin-bottom: 15px;
}

.wrapper {
  padding: 50px 50px;
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 100%;
  margin: 20px;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.bg-one {
  background-image: url(/images/reif-othman.webp);
  background-size: cover;
}
.card1 {
  padding-top: 20px;
  margin: auto;
  padding-bottom: 20px;
}
.cardo {
  margin: auto;
  height: 500px;
}

.over {
  display: none;
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
}
.container:hover .child,
.container:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.container:hover .child:before,
.container:focus .child:before {
  display: block;
}
.container:hover .over,
.container:focus .over {
  display: block;
}
.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 960px) {
  .container {
    width: 90%;
    margin: 20px 0;
  }
  .wrapper {
    padding: 20px;
  }
}
.n {
  margin: auto;
  color: rgb(12, 12, 12);
  text-align: center;
}
.kk {
  margin-left: 100px;
  opacity: 0.7;
}
.area {
  margin-bottom: 10px;
}
.end {
  padding-bottom: 15px;
  /* margin-bottom: 5px; */
}
.food:hover .overlay {
  right: 0;
  bottom: 0;
  width: 100%;
}
.food {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  overflow: hidden;
  text-align: center;
  width: 100%;
  transition: 1s;
  right: 100%;
}
.food img {
  max-width: 100%;
}
.loc {
  text-decoration: none;
  color: white;
}
.loc:hover {
  color: #414141;
}
.footerlinks {
  margin-top: 25px;
}
